.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  overflow: hidden;
  position: relative;
  transform: translateX(100%);
}

.portfolio .portfolio-content {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .work {
  position: relative;
  overflow: hidden;
  margin-left: 2px;
}

.portfolio-content .work:last-child {
}
.portfolio .work img {
  width: 100%;
  height: 210px;
  cursor: pointer;
  border-radius: 15px;
  transition: 1s;
}
.portfolio .work .caption {
  position: absolute;
  left: -100%;
  padding: 20px;
  width: 100%;
  bottom: 5px;
  background-color: rgba(85, 17, 86, 0.9);
  transition: 0.3s;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: var(--second-color);
}
.portfolio .work:hover .caption {
  left: 0;
}
.portfolio .work:hover img {
  transform: scale(0.9);
}
.portfolio-popup {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-popup .pp-content {
  width: 80%;
  background-color: rgba(85, 17, 86, 0.5);
  padding: 40px 15px;
  border-radius: 30px;
  position: absolute;
  top: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pp-content .pp-header {
  position: absolute;
  color: #bdbdbd;
  top: -15px;
  right: -15px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(85, 17, 86, 0.61);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pp-content .pp-header img {
  width: 50%;
  height: 50%;
}
.carousel-track-container {
  position: relative;
  height: 500px;
  width: 90%;
  margin: auto;
}
.carousel-track {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease-in;
}
.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}
.carousel-button svg {
  width: 80%;
  height: 80%;
}
.carousel-button.left {
  left: 0;
  transform: rotate(180deg);
}
.carousel-button.right {
  right: 0;
}
.carousel-track-container .carousel-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-nav .carousel-indicator {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  cursor: pointer;
  margin: 4px;
}
.carousel-nav .current-slide {
  background-color: #551156;
}

.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}
.description {
  margin-top: 25px;
  margin-bottom: 25px;
}
.description span {
  font-weight: 700;
  color: #a12ca3;
}
.description p {
  color: var(--second-color);
}

@media (min-width: 992px) {
  .portfolio .portfolio-content {
    display: flex;
  }
  .portfolio .work {
    flex-basis: 33%;
  }
}
@media (min-width: 1380px) {
  .portfolio .work {
    flex-basis: 24.8%;
  }
}
@media (max-width: 992px) {
  .carousel-track-container {
    height: 30%;
    width: 100%;
  }
  .portfolio .work {
    flex-basis: 40%;
  }
  .portfolio .portfolio-content {
    justify-content: center;
  }
  .portfolio-popup .pp-content {
    width: 95%;
    height: 100%;
  }
}

@media (max-width: 676px) {
  .portfolio-popup .pp-content {
    top: 2%;
  }
  .portfolio .work {
    flex-basis: 100%;
  }
}
