/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  overflow: hidden;
  position: relative;
  transform: translateX(100%);
}
.contact .inter-contact {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  width: 75%;
}

/*.contact .inter-contact .form {
  display: flex;
  flex-basis: 60%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact .inter-contact .form form {
  flex-basis: 100%;
}
.contact .inter-contact .form p {
  color: var(--second-color);
  margin: 30px 0;
}

.contact .inter-contact .form form .input-group {
  margin-bottom: 30px;
  position: relative;
}

form .row .input-group {
  flex-basis: 48%;
}
input,
textarea {
  width: 100%;
  outline: 0;
  padding: 10px;
  background: transparent;
  border: 1px solid var(--second-color);
  color: var(--second-color);
  font-size: 15px;
}

form .input-group label {
  color: var(--second-color);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 10px;
  cursor: text;
  transition: 0.2s;
}
input:focus ~ label {
  top: -35px;
  font-size: 14px;
}
input:valid ~ label {
  top: -35px;
  font-size: 14px;
}
form .btn {
  margin: 0;
}

*/
.inter-contact .content {
  color: var(--second-color);
  flex-basis: 50%;
}
.contact .inter-contact .contact-map {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}
.inter-contact .content {
}
.contact .inter-contact .contact-map img {
  width: 380px;
  height: 380px;
  border-radius: 10px;
}
.contact ul {
  display: flex;
  justify-content: center;
  width: 50%;
}
.contact ul li img {
  width: 25px;
}
.email p {
  letter-spacing: 2px;
}
@media (min-width: 1200px) {
  form .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .contact .inter-contact .contact-map img {
    width: 380px;
    height: 380px;
  }
}

@media (max-width: 992px) {
  .contact .inter-contact {
    flex-direction: column;
  }

  .contact .inter-contact .contact-map {
    justify-content: center;
    padding-top: 50px;
  }
  .contact .inter-contact .contact-map img {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 480px) {
  .sec-contact .social-contact-box {
    display: none;
  }
  .sec-contact .contact-email-box {
    display: none;
  }
  .inter-contact .content {
    flex-basis: 100%;
    font-size: 12px;
  }
  .contact-map img {
    display: none;
  }
}
