@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=Space+Mono:wght@400;700&display=swap");

/* Start Variables */
:root {
  --main-color: #551156;
  --second-color: #d1d1d1;
  --third-color: #bdbdbd;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 70px;
  --second-font: "Poppins", sans-serif;
}
/* End Variables */

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Mono", monospace;
  /*background-color: #03040f;*/
  /*background-color: #04061e;*/
  background-color: black;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.main-title h2 {
  font-size: 60px;
  position: relative;
  left: 0;
  margin-bottom: 70px;
  font-family: var(--second-font);
  font-weight: bold;
  color: rgba(236, 194, 255, 0.24);
}

.second-header {
  width: 350px;
  height: 350px;
  border-bottom-left-radius: 500px;

  position: fixed;
  right: 0;
  z-index: 100;
  transition: ease-out 0.5s all;
}

.show-menu {
  background-color: rgba(85, 17, 86, 0.56);
}
.hide-menu {
  background-color: rgba(85, 17, 86, 0);
}

.close-button {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10%;
  top: 10%;
  cursor: pointer;
}

.label {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transition: ease-out 0.2s all;
  cursor: pointer;
}
.close-button .label1 {
  transform: translate(-50%, -50%) rotate(-45deg);
  cursor: pointer;
}
.close-button .label3 {
  transform: translate(-50%, -50%) rotate(45deg);
  cursor: pointer;
}
.label2 {
  display: none;
}
.onlabel1 {
  transform: translate(-50%, 0%) rotate(0);
  top: 25%;
}
.onlabel3 {
  transform: translate(-50%, 0%) rotate(0);
  top: 75%;
}
.onlabel2 {
  opacity: 1;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
}
.second-header .menu {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-header ul li a {
  color: var(--second-color);
  font-size: 18px;
  letter-spacing: 1px;
}
.second-header ul li {
  padding: 7px;
}
.second-header ul li a:hover {
  color: #ffffff;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.social-contact-box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  right: auto;
  width: 40px;
}

.social-contact-box .socail-contact-box-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-contact-box .socail-contact-box-links ul {
  margin-top: 20px;
}
.social-contact-box .socail-contact-box-links ul li {
  padding: 10px;
}
.social-contact-box .socail-contact-box-links ul li img {
  color: var(--main-color);
  width: 30px;
}
.social-contact-box .socail-contact-box-links span {
  display: block;
  width: 1px;
  height: 90px;
  background-color: var(--third-color);
}
.contact-email-box {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 40px;
  left: auto;
  writing-mode: vertical-rl;
}
.contact-email-box .contact-email-box-link {
  display: flex;

  align-items: center;
  position: relative;
}

.contact-email-box a {
  margin: 20px auto;
  padding: 10px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: var(--third-color);
}

.contact-email-box .contact-email-box-link span {
  display: block;
  width: 1px;
  height: 60px;
  background-color: var(--third-color);
}

.transition-effect {
  position: absolute;
  z-index: 1000000000000000;
  background-color: var(--main-color);
  top: 0;
  width: 100%;
  height: 100vh;
}
